include .pylintrc
include .travis.yml
include .coveragerc
include *.txt
recursive-include docs *.puml
recursive-include examples *.py
recursive-include docs *.bat
recursive-include docs *.buildinfo
recursive-include docs *.css
recursive-include docs *.doctree
recursive-include docs *.gif
recursive-include docs *.html
recursive-include docs *.inv
recursive-include docs *.js
recursive-include docs *.pickle
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include pyjstat *.json
recursive-include etlstat *.TXT
recursive-include etlstat *.csv
recursive-include etlstat *.kjb
recursive-include etlstat *.ktr
recursive-include etlstat *.rst
recursive-include etlstat *.sql
recursive-include etlstat *.txt
recursive-include etlstat *.xls
include *.lock
include Pipfile
recursive-include etlstat *.px

