[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
pylint = "*"
autopep8 = {index = "pypi",version = "*"}
bandit = {index = "pypi",version = "*"}
flake8 = {index = "pypi",version = "*"}
flake8-blind-except = {index = "pypi",version = "*"}
flake8-builtins = {index = "pypi",version = "*"}
flake8-docstrings = {index = "pypi",version = "*"}
flake8-import-order = {index = "pypi",version = "*"}
flake8-logging-format = {index = "pypi",version = "*"}
more-itertools = {index = "pypi",version = "*"}
pytest = {index = "pypi",version = "*"}

[packages]
SQLAlchemy = {index = "pypi",version = "==1.4.*"}
Unidecode = {index = "pypi",version = "==1.1.*"}
cx_Oracle = {index = "pypi",version = "==7.3.*"}
defusedxml = {index = "pypi",version = "==0.6.*"}
mysql-connector = {index = "pypi",version = "==2.2.*"}
numpy = {index = "pypi",version = "==1.23.*"}
pandas = {index = "pypi",version = "==1.4.*"}
psycopg2 = {index = "pypi",version = "==2.8.*"}
pyaxis = {index = "pypi",version = "==0.3.*"}
python_Levenshtein = {index = "pypi",version = "==0.12.*"}
sqlparse = {index = "pypi",version = "==0.3.*"}
xlrd = {index = "pypi",version = "==2.0.*"}
openpyxl = "==3.0.*"
beautifulsoup4  = {index = "pypi","version >=" = "4.10.*"}

[requires]
python_version = "3.9.*"
